<div class="title-holder">
    <h3 class="animated fadeInDown">CONTACTS</h3>
</div>

<div class="list-contacts">
  <div class="list-contact-item animated fadeIn" *ngFor="let item of ContactList">
    <div class="list-contact-item-holder">
        <div class="list-contact-item-pic">
            <span>{{item.Initial}}</span>
        </div>
    </div>
    <div class="list-contact-item-holder">
        <div class="list-contact-item-name">
            {{item.Name}}
        </div>
        <div *ngFor="let contact of item.Contacts" class="contact-item" [ngClass]="(contact.Type=='email')?'contact-item-email':'contact-item-phone'">
            {{contact.Value}}
          </div>
    </div>
  </div>
</div>

<a routerLink="/add" routerLinkActive="active">
  <div class="add-contacts-button animated fadeInRight"><span>+</span></div>
</a>